{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}

  <div class="post-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ partial "projects/item" .}}
    {{ end }}
  </div>

{{ partial "footer" .}}
